<div>
  <div ng-show="hasNoValues()">
    No values added yet
  </div>
  <div ng-repeat="value in values track by $index">
    {{value}}
    <div class="pull-right">
      <a class="btn btn-primary" ng-click="removeValue($index);">
        <i class="glyphicon glyphicon-trash"></i>
      </a>
    </div>
    <p class="lead"></p>
  </div>
  <div>
    <p class="input-group">
      <input type="text" id="newValue" name="newValue"  class="form-control"
             ng-model="newValue" >
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="addValue()">
          <i class="glyphicon glyphicon-plus"></i>
        </button>
      </span>
    </p>
  </div>
</div>
