<section ng-controller="MediaController" ng-init="findOne()">
  <div class="page-header">
    <h1>Edit Medium</h1>
  </div>
  <div class="col-md-12">
    <form name="mediumForm" ng-submit="update(mediumForm.$valid)" novalidate>
        <fieldset class="form-group" show-errors>
          <label for="name">Name</label>
          <input type="text" id="name" name="name" class="form-control"
                 ng-model="medium.name" required>
          <div ng-messages="mediumForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Medium name is required.</p>
          </div>
        </fieldset>

        <div class="form-group">
          <label>Specifications(s)</label>
          <editable-string-array id="author" name="author"
                                 ng-model="medium.specifications"></editable-string-array>
        </div>

        <div class="form-group">
          <input type="submit" value="Update" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
    </form>
  </div>
</section>
