<section ng-controller="ExperiencesController" ng-init="find()">
  <div class="page-header">
    <h1>Experiences</h1>
  </div>
  <div ng-show="initialCount > 0">
    <div id="filterSection" class="col-md-12">
      <h3>Filters</h3>
      <!--<div class="row">-->
        <div class="col-md-4">
          <label class="control-label">Period</label>
          <div class="input-group form-group">
            <input type="text" id="fromDate" name="fromDate" class="form-control"
                   datepicker-popup="{{format}}"
                   ng-model="filter.startDate" is-open="status.openedStart"
                   datepicker-options="datePickerOptions" close-text="Close" disabled
                   placeholder="Start Date"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="openStart($event)" title="Choose start date">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </div>
          <div class="input-group form-group">
            <input type="text" id="endDate" name="endDate" class="form-control"
                   datepicker-popup="{{format}}"
                   ng-model="filter.endDate" is-open="status.openedEnd"
                   datepicker-options="datePickerOptions" close-text="Close" disabled
                   placeholder="End Date"/>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="openEnd($event)" title="Choose end date">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
          </div>
        </div>
        <div class="col-md-4">
          <label for="mediaFilter" class="control-label">Media</label>
          <select name="multipleSelect" id="mediaFilter" ng-model="filter.media" multiple class="form-control input-group">
            <option ng-repeat="medium in media" value="{{medium._id}}">{{medium.name}}</option>
          </select>
        </div>
        <div class="col-md-4">
          <label for="search" class="control-label">Search</label>
          <input type="text" id="search" name="search" class="form-control"
                 ng-model="filter.search" placeholder="Search in all text fields"/>
        </div>
      <!--</div>-->
    </div>
    <div id="nothingFoundSection" class="col-md-12" ng-show="experiences.length === 0">
      <div class="alert alert-info" role="alert">
        No experiences found.
      </div>
    </div>
    <div id="listSection" class="col-md-12" ng-show="experiences && experiences.length > 0"  style="top:20px;">
      <!-- header section -->
      <div class="row">
        <div class="col-md-8">
          <div ng-show="experiences && experiences.length > 1">
            <span>Found {{experiences.length}} experiences.</span>
          </div>
          <div ng-show="experiences && experiences.length === 1">
            <span>Found 1 experience.</span>
          </div>
        </div>
        <div class="col-md-4">
          <tabset type="pills">
            <tab heading="Table" select="selectList('table')"></tab>
            <tab heading="Map" select="selectList('map')"></tab>
          </tabset>
        </div>
      </div>

      <!-- content section -->
      <div class="row">
        <div ng-show="listSelected == 'table'">
          <div ng-include="'modules/experiences/client/views/experiencesTable.client.view.html'"></div>
        </div>
        <div ng-show="listSelected == 'map'">
          <div ng-include="'modules/experiences/client/views/experiencesMap.client.view.html'"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="alert alert-warning text-center" ng-show="initialCount < 1">
    No experiences yet, why don't you <a ui-sref="experiences.create">create one</a>?
  </div>
</section>
