<section ng-controller="LocationsController" ng-init="findOne()">
  <div class="page-header">
    <h1 ng-bind="location.description"></h1>
  </div>
  <div class="pull-right" ng-show="location.user">
    <a class="btn btn-primary" ui-sref="locations.edit({locationId: location._id})">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <p class="lead" ng-bind="location.description"></p>
  <p ng-show="location.user">Custom location.</p>
  <p ng-show="!location.user">General location.</p>
  <div ng-show="hasLngLat(location)">
    Location: longitude {{location.lng}}, latitude {{location.lat}}
  </div>
  <!-- TODO: add a map with the position-->
</section>
