<section ng-controller="LocationsController" ng-init="findOne()">
  <div class="page-header">
    <h1 ng-bind="location.description"></h1>
  </div>
  <div ng-show="location.user">
    <div class="pull-right" >
      <a class="btn btn-primary" ui-sref="locations.edit({locationId: location._id})">
        <i class="glyphicon glyphicon-edit"></i>
      </a>
      <a class="btn btn-primary" ng-click="remove();">
        <i class="glyphicon glyphicon-trash"></i>
      </a>
    </div>
    <p class="lead"></p>
    <p>personal location</p>
  </div>
  <div ng-show="!location.user">
    <p>general location</p>
  </div>
  <div ng-show="hasLngLat(location)">
    <leaflet lf-center="center" height="480px" markers="markers" defaults="defaults"></leaflet>
  </div>
</section>
